// == COLORS ==

// Primary
$primary: #fdab40;
// BG Gradient
$bg-color-top: #ffc674;
$bg-color-bottom: #f7ae46;

// == SIZES ==

// Navbar
$navbar-height: 72px;

// Sidebar
$open-sidebar-width: 265px;
$close-sidebar-width: 70px;

// == TRANSITIONS ==
$transition: 0s width linear;
