//=== SPACES ==========================
$padding-x: 25px;

//=menu item spacing
.px-menu-item {
  padding: 0 $padding-x;
}

//=== COLORS ===========================
$bg-color-top: #ffc674;
$bg-color-bottom: #f7ae46;

//=== UTILITIES ===========================
$utilities: (
  "gradient": (
    property: background,
    class: bg,
    values: (
      gradient: transparent
        linear-gradient(180deg, $bg-color-top 0%, $bg-color-bottom 100%) 0% 0%
        no-repeat padding-box,
    ),
  ),
);
