@import "./variables.scss";

@mixin large-screen() {
  @media (max-width: 992px) {
    left: 0;
  }
}

.navbar {
  padding: 0 25px;
  position: fixed;
  top: 0;
  right: 0;
  height: $navbar-height;
  background-color: white;
  z-index: 99;

  // navbar when sidebar open or close
  &.navbar-sidebar-open {
    left: $navbar-width;

    @include large-screen();
  }

  &.navbar-sidebar-close {
    left: calc(
      $open-sidebar-width + ($close-sidebar-width - $open-sidebar-width)
    );

    @include large-screen();
  }

  @include large-screen();

  //navbar's default list and link
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;

    li {
      a {
        text-decoration: none;
      }
    }
  }

  .navbar-menu-wrapper {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;

    .navbar-menu {
      height: 100%;
    }
  }
}
