@import "./variables.scss";

$open-sidebar-width: var(--open-sidebar-width);
$close-sidebar-width: var(--close-sidebar-width);
$navbar-height: var(--navbar-height);
$wrapper-transition: var(--$transition);

@mixin large-screen() {
  @media (max-width: 992px) {
    padding: $navbar-height 0 0 0;
  }
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  transition: $wrapper-transition;

  &.wrapper-sidebar-open {
    padding: $navbar-height 0 0 $open-sidebar-width;
    @include large-screen();
  }

  &.wrapper-sidebar-close {
    padding: $navbar-height 0 0
      calc($open-sidebar-width + ($close-sidebar-width - $open-sidebar-width));
    @include large-screen();
  }

  @include large-screen();
}
