// == COLOR ==

// General Colors
$primary: #fdab40;
$accent: #005eaf;
$light: #ffffff;
$dark: #1e1e1e;
// BG Gradient
$primary-top-gradient-color: #ffc674;
$primary-bottom-gradient-color: #f7ae46;

$icon-primary: #ffffff;
$icon-secondary: #005eaf;

// == SIZE ==

// Sidebar
$open-sidebar-width: 265px;
$close-sidebar-width: 70px;

// Navbar
$navbar-height: 72px;
$navbar-width: $open-sidebar-width;

// ICON
$icon-size: 23px;

// Menu Item
$menu-item-min-height: 44px;
// Submenu Item
$submenu-item-min-height: 40px;

// == SPACE ==

// Items and Header
$padding-x: 25px;
$padding-y: 9px;

// == FONT ==
$text-sm: 8px;
$text-normal: 13px;
$text-md: 18px;
$text-lg: 23px;

$font-light: 300;
$font-normal: 400;
$font-medium: 500;

$font-family: "Poppins", sans-serif;

// == TRANSITION ==
$transition: 0s width linear;

// == BREAKPOINTS ==
$lg: 992px;

:root {
  //colors
  --primary-color: #{$primary};
  --accent-color: #{$accent};
  --light-color: #{$light};
  --dark-color: #{$dark};
  --dark-hover-color: #{rgba($dark, 10%)};
  --primary-top-gradient-color: #{$primary-top-gradient-color};
  --primary-bottom-gradient-color: #{$primary-bottom-gradient-color};
  //sizes
  --open-sidebar-width: #{$open-sidebar-width};
  --close-sidebar-width: #{$close-sidebar-width};
  --navbar-height: #{$navbar-height};
  --navbar-width: #{$navbar-width};
  //spaces
  --item-padding-x: #{$padding-x};
  --item-padding-y: #{$padding-y};
  //fonts
  --text-sm: #{$text-sm};
  --text-normal: #{$text-normal};
  --text-md: #{$text-md};
  --text-lg: #{$text-lg};
  --font-light: #{font-light};
  --font-normal: #{font-normal};
  --font-medium: #{font-medium};
  --font-family: #{$font-family};
  //misc
  --transition: #{$transition};
}
