@import "../variables.scss";
@import "../svg-icon";

//MENU ITEM VARIABLES

// 1.) Colors
$base-color: var(--light-color);
$focus-and-active-color: var(--accent-color);
$base-opacity: 70%;
$item-hover-bg-color: var(--dark-hover-color);

// 2.) Spaces
$root-level-pl: var(--item-padding-x);
$first-level-pl: 40px;
$second-level-pl: 55px;
$third-level-pl: 70px;

$item-level-pl: (
  root: $root-level-pl,
  first: $first-level-pl,
  second: $second-level-pl,
  third: $third-level-pl,
);

// 3.) Font
$font-size: var(--text-normal);
$font-weight: var(--font-medium);
$font-family: var(--font-family);

// Icon
@mixin item-icon {
  pointer-events: none;
  opacity: $base-opacity;
}

.menu-item-icon {
  @include item-icon;
  flex: 0 0 35px;
  @include svg-icon;
  svg {
    margin-left: -2px;
  }
}

.dash-bullet-icon {
  @include item-icon;
  flex: 0 0 22px;
  color: $base-color;
  font-size: 0.8rem;
}

.dot-bullet-icon {
  @include item-icon;
  flex: 0 0 22px;
  color: $base-color;
  font-size: 1.2rem;
}

// Labels
.menu-item-label {
  pointer-events: none;
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  color: $base-color;
  opacity: $base-opacity;
  flex-grow: 1;
  text-transform: capitalize;
}

.menu-section-label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  color: $base-color;
  opacity: $base-opacity;
}

// Arrow Icon
.menu-item-arrow {
  pointer-events: none;
  color: $base-color;
  font-size: 0.6rem;
  opacity: $base-opacity;
  flex: 0 0 20px;

  i {
    height: max-content;
    width: max-content;
    transition: 0.2s all linear;

    &::before {
      transform-origin: center;
    }

    &.active {
      transform: rotate(90deg);
    }
  }
}

// Menu Item
@mixin iconChangeColor {
  .menu-item-icon {
    @include sidebar-svg-icon-hover;
  }
}

@mixin bulletChangeColor {
  & > i {
    color: $focus-and-active-color;
  }
}

@mixin item-property {
  text-decoration: none;
  transition: $transition;
}

@mixin item-action($type) {
  &:hover,
  &[data-active="true"],
  &.active {
    background-color: $item-hover-bg-color;

    .menu-item-label,
    .menu-item-icon,
    .menu-item-arrow {
      opacity: 100%;
    }

    @include iconChangeColor;
    @if ($type == "link/submenu") {
      @include bulletChangeColor;
    }
  }
}

.menu-item {
  @include item-property;
  padding: $padding-y $padding-x;
  min-height: $menu-item-min-height;
  @include item-action("menu");
}

// Submenu and Link Item
.submenu-item,
.link-item {
  @include item-property;
  padding: 0 $padding-x;
  min-height: $submenu-item-min-height;
  @include item-action("link/submenu");
}

@each $key, $padding-left in $item-level-pl {
  .#{$key}-level-item {
    padding-left: $padding-left;
  }
}
