@import "../variables.scss";

$header-height: var(--navbar-height);
$header-padding-x: var(--item-padding-x);
$header-btn-transition: var(----transition);
$header-btn-close-color: var(--accent-color);

// Header
.sidebar-header {
  flex: none;
  height: $header-height;
  padding: 0 $header-padding-x;
}

// Menu Btn
.menu-btn {
  outline: none;
  border: none;
  background-color: transparent;
  transition: $header-btn-transition;

  &.menu-btn-open {
    transform: rotateY(0deg);
  }

  &.menu-btn-close {
    transform: rotate(180deg);

    & > span {
      svg {
        path {
          fill: $header-btn-close-color;
        }
      }
    }
  }

  @media (max-width: $lg) {
    display: none;
  }
}
