@import "../custom-variables.scss";

$sidebar-states: (
  open: $open-sidebar-width,
  close: $close-sidebar-width,
);

@each $key, $width in $sidebar-states {
  .sidebar-#{$key} {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: $width;
    background: transparent
      linear-gradient(180deg, $bg-color-top 0%, $bg-color-bottom 100%)
      0%
      0%
      no-repeat
      padding-box;
    transition: $transition;
  }
}

$utilities: (
  "gradient": (
    property: background,
    class: bg,
    values: (
      gradient: transparent
        linear-gradient(180deg, $bg-color-top 0%, $bg-color-bottom 100%) 0% 0%
        no-repeat padding-box,
    ),
  ),
);
