@import "../variables.scss";

$sidebar-states: (
  open: var(--open-sidebar-width),
  close: var(--close-sidebar-width),
  hover: var(--open-sidebar-width),
);

@each $key, $width in $sidebar-states {
  .sidebar-#{$key} {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: $width;
    // background-color: var(--primary-top-gradient-color);
    background: transparent
      linear-gradient(
        180deg,
        var(--primary-top-gradient-color) 0%,
        var(--primary-bottom-gradient-color) 100%
      )
      0%
      0%
      no-repeat
      padding-box;
    transition: $transition;
  }
}
