@import "../variables.scss";

$header-height: $navbar-height;
$header-padding-x: $padding-x;

// Header
.sidebar-header {
  flex: none;
  height: $header-height;
  padding: 0 $header-padding-x;
}

// Menu Btn
.menu-btn {
  outline: none;
  border: none;
  background-color: transparent;
  transition: $transition;

  &.menu-btn-open {
    transform: rotateY(0deg);
  }

  &.menu-btn-close {
    transform: rotate(180deg);

    & > span {
      svg {
        path {
          fill: $icon-secondary;
        }
      }
    }
  }

  @media (max-width: $lg) {
    display: none;
  }
}
