$primary-100: hsl(34, 98%, 87%);
$primary-200: hsl(34, 98%, 82%);
$primary-300: hsl(34, 98%, 77%);
$primary-400: hsl(34, 98%, 72%);
$primary-500: hsl(34, 98%, 62%); //default primary #fdab3f
$primary-600: hsl(34, 98%, 57%);
$primary-700: hsl(34, 98%, 52%);
$primary-800: hsl(34, 98%, 47%);
$primary-900: hsl(34, 98%, 42%);

$accent-500: hsl(208, 100%, 34%); // default accent

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

//keen's color
$button-color: rgba(77, 88, 148, 0.06);
$notif-color-1: #F64E60;
$notif-color-2: #3699FF;
$notif-color-3: #20c997;


