@import "../../variables.scss";
@import "../../navbar.scss";

$submenu-bg-color: var(--light-color);

.menu-submenu {
  display: none;
  background-color: $submenu-bg-color;
  width: 275px;
  margin: 0 auto;
  position: absolute;
  padding: 20px 0px;
  z-index: 98;
  top: 110%;
  left: 0;
  right: auto;
  transform: translateZ(0);
  transform-style: preserve-3d;
  border-radius: 4px;
  -webkit-box-shadow: 0px 15px 50px 0px rgb(82 63 105 / 15%);
  box-shadow: 0px 15px 50px 0px rgb(82 63 105 / 15%);
  animation: submenuIn 0.2s ease-out forwards;

  &.menu-content {
    padding: 0px 0px;
    width: auto;
  }

  &.menu-submenu-show {
    display: block;
  }

  @keyframes submenuIn {
    from {
      top: 110%;
    }
    to {
      top: 100%;
    }
  }

  .subitem-subnav {
    display: hidden;
    top: 0%;
    margin-left: 2px;
    opacity: 0;
    left: 100%;
    animation: subnavIn 0.15s ease-out forwards;

    &.subitem-subnav-show {
      display: block;
    }

    @keyframes subnavIn {
      from {
        top: -110%;
        opacity: 0;
      }
      to {
        top: 0%;
        opacity: 1;
      }
    }
  }
}
